@charset "utf-8";

$navbar-height:4.75rem;
$navbar-item-img-max-height:5.5rem;
$navbar-background-color:#dddddd;
// $navbar-background-color:#1d64ac;
$navbar-item-hover-color:#b66011;
$navbar-item-hover-background-color:0;
$primary:#48739e;
$secondary:#475653;

@import 'bulma';
@import '~bulma-calendar';