$navbar-item-hover-background-color:rgba(0,0,0,0);

// // Disable the widescreen breakpoint
// $widescreen-enabled: false;

// // Disable the fullhd breakpoint
// $fullhd-enabled: false;

@import "~bulma/bulma.sass";
@import "~bulma-o-steps";
@import "~bulma-carousel";
@import "~bulma-calendar";

html{
    background-color:#e4e4e4 !important;
}

body{
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif !important; 
    letter-spacing: 3px !important;
    color:rgb(68, 68, 68) !important;
}

section {
    min-height: calc(100vh - 26em); /* minus the height of the footer */
}

.no_spacing{
    letter-spacing:.05em !important;
}

.navbar{
    border-bottom:2px solid #cecece;
    /* box-shadow: 0 8px 16px rgb(10 10 10 / 10%); */
}

.nav-active{
    color:#b66011 !important;
}

.copper{
    color:#9e6937;
}

hr.grey-8{
    border-top: 2px solid #cecece;  
}

.sold_dot{
    height: 14px;
    width: 14px;
    background-color: rgb(231, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

.background-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #999;
    height:35em;
}

.underlined{
    /* border-bottom:1px solid #aa6c32; */
    border-bottom:1px solid #aaaaaa;
}

.img_shadow{
    -moz-box-shadow:    0px 0px 5px 1px #282a2d;
    -webkit-box-shadow: 0px 0px 5px 1px #282a2d;
}

footer{
    background-color:#dddddd;
    border-top:2px solid #cecece;
    height:26em;
}

.socials{
    display: inline-block;
    width: 85px;
    height: 85px;
    background:#9e6937;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-position:50% 50%;
    background-repeat:no-repeat; 
}

.loading_modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../../public/spinner.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
body.loading .loading_modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
modal element will be visible */
body.loading .loading_modal {
    display: block;
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

.mobile-nav {
    display:none !important;
}

@media screen and (max-width: 1023px) {
    .mobile-nav{
        display:block !important;
    }
}

// SHOP STYLING 

@media screen and (max-width: 1023px) {
    .preview-imgs{
        display:inline-block !important;
    }
}

@media screen and (max-width: 400px) {
    .preview-imgs{
        height:85px !important;
        width:85px !important;
    }
}

a {
    letter-spacing: 3px !important;
    color:rgb(68, 68, 68) !important;
}

a:hover {
    text-decoration: underline;
}